name: Release Creation

on:
  release:
    types: [published]
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v2

      # Substitute the Manifest and Download URLs in the world.json
      - name: Substitute Manifest and Download Links For Versioned Ones
        id: sub_manifest_link_version
        uses: microsoft/variable-substitution@v1
        with:
          files: 'world.json'
        env:
          version: ${{github.event.release.tag_name}}
          url: https://github.com/${{github.repository}}
          manifest: https://github.com/${{github.repository}}/releases/latest/download/world.json
          download: https://github.com/${{github.repository}}/releases/download/${{github.event.release.tag_name}}/world.zip

      # Create a zip file with all files required by the module to add to the release
      - run: zip -r ./world.zip world.json LICENSE styles/ scripts/ templates/ images/ lang/

      # Create a release for this specific version
      - name: Update Release with Files
        id: create_version_release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true # Set this to false if you want to prevent updating existing releases
          makeLatest: true
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: './world.json, ./world.zip' 
          body: ${{ github.event.release.body }}